
<div class="sidebar-wrapper">
    <div class="logo">
        <a class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/angular2-logo.png" alt="">
            </div>
            Flight42
        </a>
    </div>
    <ul class="nav">
        <li>
            <a routerLink="/">
                <i class="ti-home"></i>
                <p>Home</p>
            </a>
        </li>

        <li>
            <a [routerLink]="['/a']" routerLinkActive="active-link">
                <i class="ti-arrow-top-right"></i>
                <p>Flights</p>
            </a>
        </li>

        <li>
            <a [routerLink]="['/b']" routerLinkActive="active-link">
                <i class="ti-user"></i>
                <p>Passengers</p>
            </a>
        </li>

        <li>
            <a [routerLink]="['/test-custom']" routerLinkActive="active-link">
                <i class="ti-user"></i>
                <p>Passengers</p>
            </a>
        </li>

        <li routerLinkActive="active">
            <span (click)="sendState()">
                <i class="ti-close"></i>
                <p>Send State</p>
            </span>
            </li>

        <!--
            <li routerLinkActive="active">
            <a>
                <i class="ti-shopping-cart"></i>
                <p>Basket</p>
            </a>
            </li>
            <li routerLinkActive="active">
            <a>
                <i class="ti-close"></i>
                <p>Hide Basket</p>
            </a>
            </li>
        -->
        
    </ul>
</div>
